body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #3c1361;
}

h2 {
    font-size: 2.5rem;
    color: #3c1361;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: lavender;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}


.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row .java {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-row .selenium {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.social-icons {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.bottom-container {
    background-color: #663a82;
    color: white;
}

.bottom-container p {
    margin-bottom: 0;
}

.profile img {
    height: 200px;
    border-radius: 100px;
    margin-top: 10%;
}
.profile p{
    width: 500px;
    margin: auto 35% 5%;
}
.btn{
    padding:20px;
    border-radius: 20px;
    background-color: #3c1361;
    color: white;
    text-decoration: none;
    margin: 2% auto;
    display: block;
    width: fit-content;
}
